.enquiry-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: right;
  height: 100%;
}

.enquiry-form {
  width: 800px; /* Adjust the width as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  z-index: 1;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  width: calc(50% - 10px); /* Adjust the width of the form groups if needed */
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea,
.form-group input[type="file"],
.form-group input[type="checkbox"] {
  width: 100%; /* Set the width to 100% */
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="checkbox"] {
  width: auto;
}

.submit-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #000000;
}

/* Custom Styles */
.selected-options-input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item input[type="checkbox"] {
  margin-right: 5px;
}
