.wrapper-footer {
  display: inline-flex;
  list-style: none;
}

.wrapper-footer .icon-footer {
  position: relative;
  background: #000000;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-footer .tooltip-footer {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-footer .tooltip-footer::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper-footer .icon-footer:hover .tooltip-footer {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper-footer .icon-footer:hover span,
.wrapper-footer .icon-footer:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper-footer .facebook-footer:hover,
.wrapper-footer .facebook-footer:hover .tooltip-footer,
.wrapper-footer .facebook-footer:hover .tooltip-footer::before {
  background: #18c0d1;
  color: #000;
}

.wrapper-footer .twitter-footer:hover,
.wrapper-footer .twitter-footer:hover .tooltip-footer,
.wrapper-footer .twitter-footer:hover .tooltip-footer::before {
  background: #db2777;
  color: #000;
}

.wrapper-footer .instagram-footer:hover,
.wrapper-footer .instagram-footer:hover .tooltip-footer,
.wrapper-footer .instagram-footer:hover .tooltip-footer::before {
  background: #18c0d1;
  color: #000;
}

.wrapper-footer .github-footer:hover,
.wrapper-footer .github-footer:hover .tooltip-footer,
.wrapper-footer .github-footer:hover .tooltip-footer::before {
  background: #db2777;
  color: #000;
}

.wrapper-footer .youtube-footer:hover,
.wrapper-footer .youtube-footer:hover .tooltip-footer,
.wrapper-footer .youtube-footer:hover .tooltip-footer::before {
  background: #18c0d1;
  color: #000;
}
